.ipynb_checkpoints/
__pycache__/*

# EBA temp files
nodebufdirs/*
manager_shell_pipe.txt

# temporary files for a run (commonly)
EBA_graphviz/testrun/*

# vim files
*.swp

# intermediate files
*.svg

# executable test files
test
