.ipynb_checkpoints/
PyEBA/__pycache__/*
__pycache__/*

# PyEBA temp files
PyEBA/nodebufdirs/*
PyEBA/manager_shell_pipe.txt

# temporary files for a run (commonly)
PyEBA/EBA_graphviz/testrun/*

# vim files
*.swp

# intermediate files
*.svg

# executable test files
EBA_IR/test
